<form [formGroup]="cardForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12 mt-3">
            <label for="createdate">Создано: </label>
            <input type="text" readonly class="form-control-plaintext" id="createdate" formControlName="createdate">
            <label for="editdate">Редактировано: </label>
            <input type="text" readonly class="form-control-plaintext" id="editdate" formControlName="editdate">
        </div>      
        <div class="col-12 mt-3">
            <div class="form-group">
                <label for="name">Название</label>
                <input type="text" class="form-control" id="name" placeholder="Название" 
                formControlName="name" 
                [ngClass]="{ 
                    'has-error': cardForm.get('name')?.invalid && 
                    cardForm.get('name')?.touched}"/>
                <small class="form-text text-muted">Обязательно, до 100 символов</small>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="form-group">
                <label for="name">Содержимое</label>
                <textarea class="form-control" id="content" placeholder="Содержимое" 
                formControlName="content" 
                [ngClass]="{
                     'has-error': cardForm.get('content')?.invalid &&
                      cardForm.get('content')?.touched}"></textarea>
                <small class="form-text text-muted">Обязательно, до 500 символов</small>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="form-group">
                <select 
                    class="form-control" 
                    id="type"
                    formControlName="type"
                    required="true"
                    
                    [ngClass]="{
                        'has-error': 
                           cardForm.get('type')?.invalid && 
                           cardForm.get('type')?.touched
                       }"
                >
                    <option [ngValue]="null">Выберите тип заметки</option>
                    <option *ngFor="let type of types" [ngValue]="type.name">{{type.name}}</option>
                </select>
                <small class="form-text text-muted">Обязательно</small>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button type="submit" class="btn btn-primary" [disabled]="cardForm.invalid">Сохранить</button>
                <button type="button" class="btn btn-danger ms-2" *ngIf="id" (click)="delete()">Удалить</button>
            </div>
        </div>
    </div>
</form>